.custom-font {
    font-family: 'roboto';
}

.h1-font {
    font-size: 50px;
    letter-spacing: 1.5px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons span {
    font-size:12px;
}

.icons {
    height: 20px;
    margin-right: 5px;
    object-fit: scale-down;
}

.font-rubik {
    font-family:'rubik';
}

.anchor:hover {
    scale:1.05;
}

.border-right {
    border:none;
}

@media (min-width: 768px) {
    .border-right {
        border-right: 1px solid rgb(207, 203, 203);
    }
}
